<!DOCTYPE html>
<html lang="en">

<head>
  <title>BITC</title>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="GOLING (Go Healing)" />
  <meta name="keywords" content="goling team" />
  <link rel="stylesheet" href="/style.css">
  <!-- Icon -->
  <link rel="icon" href="../images/logo1.png" />

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

  <!-- Symbols -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <style>
  </style>
</head>

<body>
  <!-- Skip-Link -->
  <a href="#mainContent" class="skip-link">To the Content</a>

  <!-- Header -->
  <header>
    <div id="navbarId" class="navbar">
      <div class="headerInner">
        <h1 class="headerTitle">
          BITC
        </h1>
        <ul class="navigationResponsive">
          <li>
            <button id="navigationDrawerId" class="navigationDrawer" aria-label="Open navigation drawer">☰</button>
          </li>
        </ul>
      </div>
      <nav id="navbarContainerId" class="navbarContainer">
        <ul class="navbarList">
          <li class="navbarItem"><a href="./index.html">Home</a></li>
          <li class="navbarItem"><a href="./details.html"> Survei Kepuasan</a></li>
          <li class="navbarItem"><a href="./complaints.html">Complaints</a>
          <li class="navbarItem"><a href="./bookingVoffice.html">Sewa Virtual Office</a></li>
        </ul>
      </nav>
    </div>
    <div class="hero">
      <div class="heroContainer">
        <h1 class="heroTitle">Baros Information Technology</h1>
        <h2 class="heroTitle">Creative</h2>
      </div>
    </div>
  </header>

  <main id="main-content">
    <!-- Add services section -->
    <section class="services-section">
      <h2 class="services-title">Layanan Pengaduan Kami</h2>
      <p class="services-description">
        Kami hadir untuk memudahkan Anda dalam menyampaikan keluhan atau masukan terkait layanan kami. Silakan gunakan <strong>Form Keluhan</strong> yang tersedia di halaman ini, atau hubungi <strong>Call Center</strong> kami untuk respons cepat. Anda juga dapat mengirimkan keluhan melalui <strong>Email</strong> resmi kami. Tim kami akan menindaklanjuti setiap komplain dengan cepat dan profesional untuk memberikan solusi terbaik bagi Anda.
      </p>
    </section>

    <!-- Existing card container -->
    <div class="card-container">
      <div class="card card1">
        <img src="./icon/pengaduan.png" alt="Icon 1" class="card-image">
        <h3 id="card-title-1">Complaints</h3>
        <p>Solusi menyelesaikan kendala</p>
        <a href="contact-section.html"><button>Buat Pengaduan</button></a>
      </div>
      <div class="card card3">
        <img src="./icon/cs.png" alt="Icon 3" class="card-image">
        <h3 id="card-title-3">Call Center & Email</h3>
        <p>Sampaikan pertanyaan atau keluhan</p>
        <a href="callcenter.html"><button>Hubungi Kami</button></a>
      </div>
    </div>

    <!-- After the card-container div -->
    <section class="about-section">
      <div class="about-container">
        <div class="about-content">
          <div class="about-text">
            <h2>Komitmen Layanan</h2>
            <h3>Memberikan Pelayanan Terbaik untuk Setiap Keluhan Anda</h3>
            <p>Kami berkomitmen untuk memberikan solusi terbaik dalam menangani setiap keluhan yang Anda sampaikan melalui <strong>Form Keluhan</strong>, <strong>Call Center</strong>, atau <strong>Email</strong>. Dengan tim profesional dan responsif, kami siap membantu Anda menyelesaikan setiap permasalahan dengan cepat, efektif, dan efisien.</p>
          </div>
          <div class="about-image">
            <img src="./images/Service.png" alt="Team Illustration">
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- Footer -->
  <!-- Wave on Footer -->
  <section class="wave">
    <div class="air air1"></div>
    <div class="air air2"></div>
    <div class="air air3"></div>
    <div class="air air4"></div>
  </section>

  <!-- Footer -->
  <footer id="contact">
    <div class="foot">
      <div class="footer-content">

        <div class="footlinks">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./index.html#destinations">Tentang Kami</a></li>
            <li><a href="./index.html#contact">Informasi</a></li>
            <li><a href="./about.html">Contact</a></li>
          </ul>
        </div>

        <div class="footlinks">
          <h4>Contact</h4>
          <ul>
            <li class="contact-item">
              <a href="#" class="contact-link">Admin : (022) 86121025</a>
            </li>
            <li class="contact-item">
              <a href="#" class="contact-link">Email : technopark@cimahikota.go.id</a>
            </li>
            <li class="contact-item">
              <address>Jl. HMS Mintareja Sarjana Hukum, Baros, Kec. Cimahi Tengah, Kota Cimahi, Jawa Barat 40521
              </address>
            </li>
          </ul>
        </div>

        <div class="footlinks">
          <h4>Social Media</h4>
          <div class="social">
            <a href="https://web.whatsapp.com/send?phone=6281223020029"
              target="https://web.whatsapp.com/send?phone=6281223020029"><i class="bx bxl-whatsapp"></i></a>
            <a href="https://www.facebook.com/technopark.cimahi/"
              target="https://www.facebook.com/technopark.cimahi/"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/technopark.cimahi/"
              target="https://www.instagram.com/technopark.cimahi/"><i class="bx bxl-instagram"></i></a>
            <a href="https://x.com/i/flow/login?redirect_after_login=%2Fcimahitpark"
              target="https://x.com/i/flow/login?redirect_after_login=%2Fcimahitpark"><i class="bx bxl-twitter"></i></a>
            <a href="https://www.youtube.com/@cimahitechnopark4127"
              target="https://www.youtube.com/@cimahitechnopark4127"><i class="bx bxl-youtube"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="end">
      <p>BITC © 2024 All Rights Reserved</p>
    </div>
  </footer>
  <script src="index.js"></script>
</body>

</html>