<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BITC</title>
    
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="GOLING (Go Healing)" />
    <meta name="keywords" content="goling team" />
    
    <!-- Icon -->
    <link rel="icon" href="../images/logo1.png" />
    
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />    
  
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    
    <!-- Symbols -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <style>
      </style>
</head>

  <body>
    <!-- Skip-Link -->
    <a href="#mainContent" class="skip-link">To the Content</a>

    <!-- Header -->
    <header>
      <div id="navbarId" class="navbar">
        <div class="headerInner">
          <h1 class="headerTitle">
            BITC
          </h1>
          <ul class="navigationResponsive">
            <li>
                <button id="navigationDrawerId" class="navigationDrawer" aria-label="Open navigation drawer">☰</button>
            </li>
          </ul>
        </div>
        <nav id="navbarContainerId" class="navbarContainer">
          <ul class="navbarList">
            <li class="navbarItem"><a href="./index.html">Home</a></li>
            <li class="navbarItem"><a href="./details.html"> Survei Kepuasan</a></li>
            <li class="navbarItem"><a href="./complaints.html">Complaints</a>
              <li class="navbarItem dropdown"> <a href="#" class="dropdown-toggle">Sewa</a> 
                <ul class="dropdown-menu"> 
                  <li><a href="./bookingVoffice.html">Sewa Virtual Office</a></li> 
                  <li><a href="./formrapat.html">Sewa Ruang Rapat</a></li> 
                </ul> 
              </li>
          </ul>
        </nav>
      </div>
      <div class="hero">
        <div class="heroContainer">
          <h1 class="heroTitle">Baros Information Technology</h1>
          <h2 class="heroTitle">Creative</h2>
        </div>
      </div>
    </header>

 <!-- Main Content -->
  
<!-- Content -->
<section class="hero-section">
  <div class="card-grid">
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(../images/working.jpg)"></div>
      <div class="card__content">
        <h3 class="card__heading">Working Space</h3>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(../images/hall.jpg)"></div>
      <div class="card__content">
        <h3 class="card__heading">Main Hall</h3>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(../images/security.jpg)"></div>
      <div class="card__content">
        <h3 class="card__heading">Security</h3>
      </div>
    </li>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(../images/aula.jpg)"></div>
      <div class="card__content">
        <h3 class="card__heading">Event Room</h3>
      </div>
    </a>
  <div>
</section>

 <!-- Information Section -->
  <section class="information" id="information">
    <div class="information-section">
      <div class="information-image">
        <img src="../images/citi.jpg" alt="BITC Interior">
      </div>
      <div class="information-text">
        <h4 class="information-title">Tentang Perusahaan Baros Information Technology Creative</h4>
        <p class="information-description">
          <strong>Cimahi Technopark</strong> dibentuk secara kelembagaan pada Tahun 2015 dan menempati Gedung BITC terlebih dahulu. Sedangkan Gedung Cimahi Techno Park dibangun pada tahun 2017 dan secara resmi diresmikan Menristekdikti pada Tahun 2019.
        </p>
        <div class="vision-mission">
          <div class="vision">
            <h5 class="information-subtitle">Visi</h5>
            <p class="information-description">Menjadi Kawasan Kreatif dan Inovatif yang terintegrasi untuk meningkatkan daya saing dan kohesi sosial melalui pemanfaatan potensi unggulan Kota Cimahi</p>
          </div>
          <div class="mission">
            <h5 class="information-subtitle">Misi</h5>
            <p class="information-description">Meningkatkan perekonomian yang berdaya saing berbasis inovasi daerah demi terwujudnya Lingkungan Hidup yang Berkelanjutan.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- Services Section -->
<form id="tamu">
  <div class="information-title">
    <h2>Services</h2>
    <div class="background">
      <div class="container">
        <div class="screen">
          <div class="screen-header">
            <div class="screen-header-right">
              <div class="screen-header-ellipsis"></div>
              <div class="screen-header-ellipsis"></div>
              <div class="screen-header-ellipsis"></div>
            </div>
          </div>
          <div class="screen-body">
            <div class="screen-body-item">
              <div class="app-title">
                <span>VISITOR</span>
              </div>
              <div class="app-contact">CONTACT INFO : (022) 86121025</div>
            </div>
            <div class="screen-body-item">
              <div class="app-form">
                <div class="app-form-group">
                  <input class="app-form-control" id="nama" name="nama" placeholder="NAMA">
                </div>
                <div class="app-form-group">
                  <input class="app-form-control" id="telepon" name="telepon" placeholder="TELEPON">
                </div>
                <div class="app-form-group">
                  <input class="app-form-control" id="keperluan" name="keperluan" placeholder="KEPERLUAN">
                </div>
                <div class="app-form-group message">
                  <input class="app-form-control" id="dituju" name="dituju" placeholder="YANG DITUJU">
                </div>
                <div class="app-form-group buttons">
                  <button class="app-form-button cancel">CANCEL</button>
                  <button class="app-form-button" type="submit">SEND</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="credits"></div>
      </div>
    </div>
  </div>
</form>


    <!-- Video Section -->
    <section class="video-section">
      <div class="video-title">
        <h2>Profile</h2>
      </div>
      <div class="video-container">
          <video controls loop autoplay muted>
              <source src="/videos/bitc.mp4" type="video/mp4">
              Your browser does not support the video tag.
          </video>
      </div>
    </section>

    <!-- Newsletter -->
    <section class="newsletter">
        <img src="../images/logo1.png" alt="Tourly logo" style="width: 220px; height: auto;">
        
        <div class="newstext">
            <h2 class="h2 section-title">Baros Information Technology Creative</h2>
            <p>Pelaksanaan operasional kegiatan penyediaan dan pemeliharaan fasilitas sarana dan prasarana kawasan Cimahi Techno Park</p>
        </div>
    
    </section>

    <!-- Wave on Footer -->
    <section class="wave">
      <div class="air air1"></div>
      <div class="air air2"></div>
      <div class="air air3"></div>
      <div class="air air4"></div>
    </section>
    
    <!-- Footer -->
    <footer id="contact">
      <div class="foot">
        <div class="footer-content">

          <div class="footlinks">
            <h4>Quick Links</h4>
            <ul>
              <li><a href="./index.html">Home</a></li>
              <li><a href="./index.html#destinations">Tentang Kami</a></li>
              <li><a href="./index.html#contact">Informasi</a></li>
              <li><a href="./about.html">Contact</a></li>
            </ul>
          </div>

          <div class="footlinks">
            <h4>Contact</h4>
            <ul>
              <li class="contact-item">
                <a href="#" class="contact-link">Admin : (022) 86121025</a>
              </li>
              <li class="contact-item">
                <a href="#" class="contact-link">Email : technopark@cimahikota.go.id</a>
              </li>
              <li class="contact-item">
                <address>Jl. HMS Mintareja Sarjana Hukum, Baros, Kec. Cimahi Tengah, Kota Cimahi, Jawa Barat 40521</address>
              </li>
            </ul>
          </div>

          <div class="footlinks">
            <h4>Social Media</h4>
            <div class="social">
              <a href="https://web.whatsapp.com/send?phone=6281223020029" target="https://web.whatsapp.com/send?phone=6281223020029"><i class="bx bxl-whatsapp"></i></a>
              <a href="https://www.facebook.com/technopark.cimahi/" target="https://www.facebook.com/technopark.cimahi/"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/technopark.cimahi/" target="https://www.instagram.com/technopark.cimahi/"><i class="bx bxl-instagram"></i></a>
              <a href="https://x.com/i/flow/login?redirect_after_login=%2Fcimahitpark" target="https://x.com/i/flow/login?redirect_after_login=%2Fcimahitpark"><i class="bx bxl-twitter"></i></a>
              <a href="https://www.youtube.com/@cimahitechnopark4127" target="https://www.youtube.com/@cimahitechnopark4127"><i class="bx bxl-youtube"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="end">
        <p>BITC © 2024 All Rights Reserved</p>
      </div>
    </footer>
    <script>
      document.getElementById('tamu').addEventListener('submit', async function(event) {
        event.preventDefault();
    
        // Convert form data to a JSON object
        const formData = new FormData(this);
        const data = {};
        formData.forEach((value, key) => {
          data[key] = value;
        });
    
        try {
          const response = await fetch('http://localhost:5000/createtamu', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data) // Send data as JSON
          });
    
          const result = await response.json();
          alert(result.message);
    
        } catch (error) {
          console.error('Error:', error);
          alert('Terjadi kesalahan dalam pengiriman data');
        }
      });
    </script>
  </body>
</html>
